<% if @user.photo.attached? %>
  <figure class="image is-192by192">
    <%= image_tag @user.photo, width: 150, class: "is-rounded" %>
  </figure>
<% else %>
  <figure class="image">
    <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/128x128.png" />
  </figure>
<% end %>

<p><strong><%= @user.first_name.capitalize + " " + @user.last_name.capitalize %></strong></p>
<p><strong><%= @user.phone %></strong></p>
<p><strong><%= @user.address.capitalize %></strong></p>
<p><strong>Verified:</strong> <%= @user.is_verified? ? "Yes" : "No" %></p>

<%= link_to "Edit Profile", edit_profile_path %>

<h2 class="title is-4">Properties</h2>

<% if @user.properties.any? %>
  <% @user.properties.each do |property| %>
    <div class="box">
      <p><strong>Name:</strong> <%= property.name %></p>
      <p><strong>Reference:</strong> <%= property.commonage_reference.presence || "N/A" %></p>
      <p><strong>Address:</strong> <%= property.address.presence || "N/A" %></p>
    </div>
  <% end %>
<% else %>
  <div class="notification is-light">
    No properties linked yet.
  </div>
<% end %>

<% if Current.user&.admin? || Current.user == @user %>
  <h2 class="title is-4">Documents</h2>

  <% if @user.documents.any? %>
    <% @user.documents.each do |doc| %>
      <div class="box">
        <p><strong>Type:</strong> <%= doc.document_type %></p>
        <p><strong>Notes:</strong> <%= doc.notes.presence || "None" %></p>
        <p><strong>Uploaded:</strong> <%= doc.created_at.strftime("%B %d, %Y") %></p>

        <% if doc.file.attached? %>
          <%= link_to "View File", url_for(doc.file), class: "button is-link is-light", target: "_blank" %>
        <% else %>
          <p>No file attached.</p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="notification is-light">
      No documents uploaded.
    </div>
  <% end %>
<% end %>