<h1>Upload Document</h1>

<%= form_with model: @document, url: documents_path, local: true do |form| %>
  <% if @document.errors.any? %>
    <div>
      <ul>
        <% @document.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :document_type %><br>
    <%= form.text_field :document_type %>
  </div>

  <div>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.label :file %><br>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.submit "Upload" %>
  </div>
<% end %>

<p><%= link_to "Back", documents_path %></p>