<div class="container">
  <div class="columns is-centered">
    <div class="column is-8">
      <div class="card">
        <% if @post.image.attached? %>
          <div class="card-image">
            <figure class="image is-16by9">
              <%= image_tag @post.image, class: "has-ratio" %>
            </figure>
          </div>
        <% end %>

        <div class="card-content">
          <p class="is-size-7 has-text-grey mb-3">
            Posted by
            <strong>
              <%= [@post.user.first_name, @post.user.last_name].join(" ").strip.presence || @post.user.email_address %>
            </strong>
            on
            <%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %>
          </p>

          <div class="content is-medium">
            <%= simple_format(@post.body) %>
          </div>

          <% if Current.user&.admin? %>
            <div class="buttons mt-5">
              <%= link_to "Edit", edit_post_path(@post), class: "button is-link is-light" %>
              <%= link_to "Delete",
                          post_path(@post),
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                          class: "button is-danger is-light" %>
            </div>
          <% end %>

          <div class="mt-5">
            <%= link_to "Back to Feed", posts_path, class: "button is-light" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>